root = true

[*.cs]
dotnet_analyzer_diagnostic.severity = warning


dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.RCS1090.severity = none
dotnet_diagnostic.RCS1169.severity = none
dotnet_diagnostic.RCS1181.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.RCS1188.severity = none
dotnet_diagnostic.RCS1006.severity = none